@font-face {
    font-family: "iconfont"; /* Project id 2940456 */
    src: url('//at.alicdn.com/t/font_2940456_sgw8ppag3rf.woff2?t=1652435379297') format('woff2'),
    url('//at.alicdn.com/t/font_2940456_sgw8ppag3rf.woff?t=1652435379297') format('woff'),
    url('//at.alicdn.com/t/font_2940456_sgw8ppag3rf.ttf?t=1652435379297') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yincang:before {
    content: "\e63c";
}

.icon-icon_yulan:before {
    content: "\eb8a";
}

.icon-shipin1:before {
    content: "\e695";
}

.icon-shenhe:before {
    content: "\e6a0";
}

.icon-xiasanjiaoxing:before {
    content: "\e642";
}

.icon-shangsanjiaoxing:before {
    content: "\e645";
}

.icon-icon_arrow_down:before {
    content: "\e63a";
}

.icon-icon_arrow_up:before {
    content: "\e7eb";
}

.icon-siyou1:before {
    content: "\e6a7";
}

.icon-siyou:before {
    content: "\e637";
}

.icon-xietongbianji:before {
    content: "\e638";
}

.icon-fenxiang2:before {
    content: "\e639";
}

.icon-excelturnpdf:before {
    content: "\e6a6";
}

.icon-geshizhuanhuan:before {
    content: "\e746";
}

.icon-daochu:before {
    content: "\e636";
}

.icon-shijian_zhongbiao:before {
    content: "\e792";
}

.icon-pdfturnword:before {
    content: "\e6b0";
}

.icon-wordturnpdf:before {
    content: "\e6b7";
}

.icon-yasuowenjian1:before {
    content: "\e8cf";
}

.icon-jieyasuo1:before {
    content: "\e635";
}

.icon-wenjiangeshizhuanhuan:before {
    content: "\e634";
}

.icon-wenzishibie:before {
    content: "\e633";
}

.icon-nishizhencounterclockwise3:before {
    content: "\e693";
}

.icon-shunshizhenfangxiangclockwise4:before {
    content: "\e988";
}

.icon-quanping:before {
    content: "\e62d";
}

.icon-shijidaxiao:before {
    content: "\e92b";
}

.icon-mulu:before {
    content: "\e63e";
}

.icon-shiheyemian:before {
    content: "\e67d";
}

.icon-jia:before {
    content: "\e641";
}

.icon-jian:before {
    content: "\e643";
}

.icon-diyige:before {
    content: "\e7e5";
}

.icon-zuihouyige:before {
    content: "\e7f0";
}

.icon-you:before {
    content: "\e793";
}

.icon-zuo:before {
    content: "\e794";
}

.icon-baocun:before {
    content: "\e63b";
}

.icon-yinpinbofang1:before {
    content: "\e62e";
}

.icon-shouqiliebiao:before {
    content: "\e631";
}

.icon-zhankailiebiao:before {
    content: "\e632";
}

.icon-lrc:before {
    content: "\e628";
}

.icon-bofangliebiaoguanli:before {
    content: "\e629";
}

.icon-shunxubofang:before {
    content: "\e69a";
}

.icon-suijibofang:before {
    content: "\e625";
}

.icon-danquxunhuan:before {
    content: "\e627";
}

.icon-liebiaoxunhuan1:before {
    content: "\e624";
}

.icon-shunxuxunhuan1:before {
    content: "\e626";
}

.icon-xiangxia:before {
    content: "\e623";
}

.icon-xiangshang:before {
    content: "\e85f";
}

.icon-chuangkoumoshi:before {
    content: "\e8b7";
}

.icon-shensemoshi:before {
    content: "\e668";
}

.icon-qiansemoshi:before {
    content: "\e621";
}

.icon-xuanfuchuang:before {
    content: "\e620";
}

.icon-huanyuanhuanyuanxuanzhongxiang:before {
    content: "\e674";
}

.icon-shuaxin:before {
    content: "\e61f";
}

.icon-duihao:before {
    content: "\e61e";
}

.icon-openl:before {
    content: "\e79e";
}

.icon-jinggao:before {
    content: "\e658";
}

.icon-zhengquetishitianchong:before {
    content: "\e6a5";
}

.icon-tishicuowu:before {
    content: "\e6fe";
}

.icon-tishi:before {
    content: "\e61d";
}

.icon-work-copy:before {
    content: "\e61c";
}

.icon-jishiben:before {
    content: "\eca8";
}

.icon-chuanshuliebiao:before {
    content: "\e619";
}

.icon-tongzhi:before {
    content: "\e64b";
}

.icon-xianshifangshi_lie:before {
    content: "\e864";
}

.icon-xianshifangshi_kuai:before {
    content: "\e865";
}

.icon-xinjianwendang:before {
    content: "\e618";
}

.icon-sousuo:before {
    content: "\e8b9";
}

.icon-xinjianwenjianjia:before {
    content: "\e657";
}

.icon-shangchuan:before {
    content: "\e663";
}

.icon-wendang1:before {
    content: "\e622";
}

.icon-BTzhongzi:before {
    content: "\e6d4";
}

.icon-icmore:before {
    content: "\e630";
}

.icon-xiazai:before {
    content: "\e675";
}

.icon-guanbi:before {
    content: "\e62a";
}

.icon-jindudian:before {
    content: "\e6c5";
}

.icon-fenxiang1:before {
    content: "\e672";
}

.icon-2zuixiaohua-2:before {
    content: "\e65a";
}

.icon-shouji:before {
    content: "\e612";
}

.icon-yidong:before {
    content: "\e64a";
}

.icon-fuzhi:before {
    content: "\ec7a";
}

.icon-zhongmingming:before {
    content: "\e62f";
}

.icon-jieyasuo:before {
    content: "\e670";
}

.icon-shanchu:before {
    content: "\e64c";
}

.icon-shengyin_shiti:before {
    content: "\eca5";
}

.icon-shangyishou:before {
    content: "\e60b";
}

.icon-xiayishou:before {
    content: "\e60c";
}

.icon-24gf-volumeCross:before {
    content: "\ea0f";
}

.icon-24gf-pause2:before {
    content: "\ea81";
}

.icon-24gf-play:before {
    content: "\ea82";
}

.icon-chakan:before {
    content: "\e616";
}

.icon-guanbi1:before {
    content: "\e647";
}

.icon-bianji:before {
    content: "\e8ac";
}

.icon-zuidahua:before {
    content: "\e651";
}

.icon-quxiaoquanping:before {
    content: "\e686";
}

.icon-xiangqing:before {
    content: "\e66c";
}

.icon-tuandui:before {
    content: "\e6cb";
}

.icon-FullScreen:before {
    content: "\e62b";
}

.icon-gongxiang_wenjianjia:before {
    content: "\e62c";
}

.icon-qita:before {
    content: "\e66b";
}

.icon-icon_video:before {
    content: "\e617";
}

.icon-tupian1:before {
    content: "\e6df";
}

.icon-yinpin:before {
    content: "\e714";
}

.icon-wendang:before {
    content: "\e736";
}

.icon-xiasanjiao:before {
    content: "\e6af";
}

.icon-yousanjiao:before {
    content: "\e602";
}

.icon-wenjianjia1:before {
    content: "\e6eb";
}

.icon-yunpan:before {
    content: "\e69e";
}

.icon-fenxiang:before {
    content: "\e684";
}

.icon-weizhiwenjian:before {
    content: "\e60d";
}

.icon-Gif:before {
    content: "\e60e";
}

.icon-Exe:before {
    content: "\e60f";
}

.icon-Pdf:before {
    content: "\e610";
}

.icon-txt1:before {
    content: "\e611";
}

.icon-shujuku:before {
    content: "\e614";
}

.icon-peizhiwenjian:before {
    content: "\e615";
}

.icon-wenjianjia:before {
    content: "\e600";
}

.icon-jpg:before {
    content: "\e6c2";
}

.icon-ppt1:before {
    content: "\e6c3";
}

.icon-PDFtubiao:before {
    content: "\e63f";
}

.icon-wenjianguanli_shipinwenjian:before {
    content: "\e656";
}

.icon-js:before {
    content: "\e61b";
}

.icon-gif-mian:before {
    content: "\e646";
}

.icon-yasuobao:before {
    content: "\e61a";
}

.icon-html:before {
    content: "\e667";
}

.icon-xml:before {
    content: "\e66e";
}

.icon-icon_tongyongwenjiantubiao:before {
    content: "\e601";
}

.icon-wenjianleixing-jingxiangwenjian:before {
    content: "\e662";
}

.icon-txt:before {
    content: "\e644";
}

.icon-EXEwenjian3:before {
    content: "\e613";
}

.icon-tongyongwenjian:before {
    content: "\e607";
}

.icon-Excel:before {
    content: "\e603";
}

.icon-Word:before {
    content: "\e604";
}

.icon-PPT:before {
    content: "\e605";
}

.icon-music:before {
    content: "\e606";
}

.icon-chengxu:before {
    content: "\e608";
}

.icon-shipin:before {
    content: "\e609";
}

.icon-tupian:before {
    content: "\e60a";
}
